/* transform:  rotateX(360deg) translate(0px, -11px); */
*{
    margin: 0;
    padding: 0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 4px outset grey;
}

#card{
position: relative;
left: 5%;

background: rgb(255, 255, 255);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
   border-radius: 20px;
   border: 1px solid rgba(0, 0, 0, 0.164);
   box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.422);
   transition: all 0.8s ease-in-out;
   margin-left: 2rem;
   margin-right: 2rem;
}

#card:hover{
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.911);
}


  
 .hide {
    display: none;
    transition: all 0.5s ease-in-out;
  } 


  .myDIV{
    font-size: 40px;
    margin: 5px;
    transition: all 0.5s ease-in-out;

  }
      
 .myDIV:hover + .hide{
  display: block;
  transition: all 0.5s ease-in-out;
 }

 .myDIV:hover{
  color: grey;
 }